**[Slide No. 41]**

1. Write a Python program to create a set.

In [1]:
set = {5,3,4,'b','c','a'}
print(set)

{3, 4, 5, 'a', 'c', 'b'}

**[Slide No.41]**

2. Write a Python program to add member(s) in a set.

In [2]:
set1={1,2,3,4,5,6}
set1.add(7)
set1

{1, 2, 3, 4, 5, 6, 7}

**[Slide No. 41]**
 
 3. Write a Python program to add string , int, list and float  member(s) in a set.

In [5]:
set1 = {1,2,3}

string = ['a','b']
integer = [7]
list1 = [4,5,6]
float1 = [8.7]

set1.update(string,integer,list1,float1)
print(set1)

{1, 2, 3, 'a', 4, 5, 7, 6, 8.7, 'b'}

**[Slide No. 41]**

4. Write a program to add multiple element in set.

In [6]:
set1 = {1,2,3}
set2 = {4,5,6,7,8}

set1.update(set2)

print("set after adding element = " + str(set1))

set after adding element = {1, 2, 3, 4, 5, 6, 7, 8}

**[Slide No. 43]**

5. What is the output :

my_set = {1, 3, 4, 5, 6}

Explain the difference between discard and remove method in set

In [9]:
my_set = {1, 3, 4, 5, 6}
my_set.discard(6)             # Discard remove specified element from the set.
print(my_set)

{1, 3, 4, 5}

In [10]:
my_set = {1, 3, 4, 5, 6}
my_set.remove(6)             # Remove raises an error when the specified element doesn't exist in the given set.
print(my_set)

{1, 3, 4, 5}

**[Slide No. 42]**

6. Write a program to remove duplicate value from set.

In [11]:
set1 = {1,2,2,3,4,5,6,7,7}
list1 = list(set1)
print(list1)

[1, 2, 3, 4, 5, 6, 7]

7.  Write a Python program to clear a set.

In [15]:
set1 = {'a','b','c','d','e','f'}
print(set1)

set1.clear()
print(set1)

{'e', 'a', 'c', 'f', 'd', 'b'}
set()

**[Slide No. 43]**

8. Write a program to add two set.

In [16]:
set1 = {1,2,3}
set2 = {4,5,6}

set3 = set1.union(set2)

print(set3)

{1, 2, 3, 4, 5, 6}

**[Slide No. 43]**

9. What is the output of:

months = set(["January","February", "March", "April", "May", "June"])   

print("\nprinting the original set ... ")    

-Q. Print the set month    

print("\nRemoving some months from the set...");    

-Q. Remove january  from the set    

-Q. Remove may  from the set  


print("\nPrinting the modified set...");    

print(months)

In [21]:
months = {"January","February", "March", "April", "May", "June"}
print(months)

{'February', 'January', 'May', 'June', 'March', 'April'}

In [22]:
months = {"January","February", "March", "April", "May", "June"}
months.remove("January")
print(months)

{'February', 'May', 'June', 'March', 'April'}

In [23]:
months = {"January","February", "March", "April", "May", "June"}
months.remove("May")
print(months)

{'February', 'January', 'June', 'March', 'April'}

**[Slide No. 44]**

10. Find union of

Days1 = {"Monday","Tuesday","Wednesday","Thursday"}
    
Days2 = {"Friday","Saturday","Sunday"}

In [24]:
Days1 = {"Monday","Tuesday","Wednesday","Thursday"}

Days2 = {"Friday","Saturday","Sunday"}

Days = Days1.union(Days2)
print(Days)

{'Thursday', 'Wednesday', 'Friday', 'Tuesday', 'Monday', 'Sunday', 'Saturday'}

**[Slide No. 45]**

 11. Write a Python program to create an intersection of sets.

In [25]:
set1 = {1,2,3,4,5}
set2 = {3,5,6,8}
set3 = set1.intersection(set2)
print(set3)

{3, 5}

**[Slide No. 45]**

12. Write a Python program to create set difference.

In [27]:
set1 = {1,2,3,4,5}
set2 = {3,5,6,8}
set3 = set1.difference(set2)
print(set3)

{1, 2, 4}